.dropholder{
    width: 348px;
    height: 130px;
    margin:100px auto;
    padding:0 0 0 20px;
    border-radius:10px;
    color: #fff;
    position: relative;
    box-sizing:border-box;
    border:1px solid $warning;
    position: relative;
}
.dropholder:after{
    content:"";
    position: absolute;
    width: 250px;
    height: 5px;
    background:rgba(0,0,0, 0);
    display: block;
    top:100px;
    left:37px;
    margin: auto;
    border-radius:50%;
    box-shadow:0 15px 10px rgba(0,0,0, 0.4);
}
.studenttab, .dropholder{
    background:linear-gradient(#FFFF0D , $warning);
}
.studenttab{
    margin-left:20px;
    float: left;
    width: 208px;
    padding:0 0 0 20px;
    border-radius:0 10px 10px 0;
    cursor: pointer;
    height:58px;
    border-left:1px solid #FFFF0D;
    position: relative;
}
.studenttab:hover{
  background:linear-gradient(#FFFF0D ,$warning);
}
.studenttab:after{
  content:"▾";
  font-size: 18px;
  position: absolute;
  right:20px;
  top:18px;
  display: block;
}

.learntab{
  position: absolute;
  right:0;
  top:70px;
  width: 228px;
  cursor: pointer;
  opacity:0;
  transform-style: preserve-3d;
  transform:rotatey(180deg) rotateX(5deg) translatey(100px);
  backface-visibility: hidden;
  background:linear-gradient(#FFFF0D ,$warning);
  border:2px solid #FFFF0D;
  border-radius:10px;
  transition:all 0.8s;
  z-index:5;
  overflow:hidden;
}
.learntab li{
  padding: 10px 10px;
  border-bottom:1px dotted #fff;
  color:#e8f8ff; 
  transition:all 0.3s;
}
.learntab li:hover{
  background:#FFFF0D;
  padding-left:20px;
}
.learntab li:last-child{
  border:none;
}
.showLearntab{
   opacity:1;
  transform:rotateX(0deg) translatey(0px);
}

