.nav-pills > .nav-link {
  font-family: 'Quicksand Bold';
  width: 348px;
  height: 130px;
  background: $white;
  border-radius: 27px;
  padding: 17px;
  position: relative;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.1);
}

.nav-pills > .nav-link > .student > .address {
  font-size: 12px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: $dark;
  background:linear-gradient(180deg, #FFFF0D 0%, $warning 100%) 0% 0%;
}

.tab-content > .active {
  color: $dark;
  width: 444px;
  height: 590px;
  border-radius: 27px;
  padding: 17px;
  position: relative;
  box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.1);
  background:linear-gradient(180deg, #FFFF0D 0%, $warning 100%) 0% 0%;
}

.circle-img{
    border-radius: 50px;
}

