.container-map{
  position: relative;
  height: 300px;
  &.home-map{
    z-index: -1;
    div{
      width: 100%;
      height: auto;
    }
  }

  .mapboxgl-ctrl-attrib-inner a {
    font-size: 12px;
  }
  
  
  #ApiMapbox {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #ApiMapboxDrive, #ApiMapboxSector, #ApiMapboxStudents {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    border-radius: 27px;
  }
}
@media #{$medium-up} {
  .container-map.home-map {
    height: 550px;
    transform: translateY(-66%);
  }
}